# ===== NODE-API =====
node-api/node_modules/
node-api/dist/
node-api/build/
node-api/.env
node-api/src/generated/

# ===== DJANGO-ADMIN =====
django-admin/venv/
django-admin/__pycache__/
django-admin/**/__pycache__/
django-admin/*.pyc
django-admin/.env
django-admin/db.sqlite3
django-admin/staticfiles/

# ===== LOGS =====
*.log
npm-debug.log*

# ===== OS =====
.DS_Store
.idea/
.vscode/